<div>
  <!-- uploaded images -->
  <% @uploads.each do |upload| %>
    <%= link_to upload do %>
    <%= image_tag upload.image.variant(resize_to_limit: [150, nil]) %>
    <% end %>
  <% end %>
</div>

<!-- link to new upload -->
<div>
  <%= link_to "New Upload", new_upload_path %>
</div>

