<h1>Editing test cycle</h1>

<%= render "form", test_cycle: @test_cycle %>

<br>

<div>
  <%= link_to "Show this test cycle", @test_cycle %> |
  <%= link_to "Back to test cycles", test_cycles_path %>
</div>
